@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
#load {
  width: 20em;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#load span center {
  letter-spacing: 3px;
  font-family: "Lora", serif;
}
#load img {
  width: 15em !important;
}
#load #LoadingText {
  padding: 0;
  animation: loadingText 1.5s 0s ease-in-out infinite;
}
#load #LoadingText span {
  margin-left: 30%;
  animation: Extends 2s steps(30);
  overflow: hidden;
  text-shadow: 0 1px 1px #bfbfbf, 1px 4px 10px #999999;
  font-family: "Roboto Slab", serif;
  display: flex;
  width: 12ch;
  letter-spacing: 0px;
  padding: 0;
  font-style: italic;
}
#load #LoadingText span p {
  font-weight: 800;
  animation: pointsShake 1.5s infinite;
  letter-spacing: 3px;
}
#load #LoadingText span :nth-child(1) {
  margin-left: 5px;
  animation-delay: 0s;
}
#load #LoadingText span :nth-child(2) {
  animation-delay: 0.2s;
}
#load #LoadingText span :nth-child(3) {
  animation-delay: 0.4s;
}
#load .loading {
  width: 5em;
  height: 5em;
  transform: translate(-10px, 100px);
  border: 2px solid gray;
  border-radius: 50px;
  padding: 0;
}
#load .loading::before {
  position: absolute;
  content: "";
  border-top: 3px solid #007bff;
  margin-left: -2px;
  margin-top: -1.5px;
  border-radius: 50%;
  width: 5rem;
  height: 5em;
  animation: loading 2s cubic-bezier(0.2, 0.2, 0, 0.1) infinite;
}

header {
  height: 70px;
  /**
  Menu lateral izquierdo
   */
}
header #bars {
  /**
  Cuando se clicke sobre el #bars se activara esta animación
   */
}
header #bars span {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-width: 100%;
  min-height: 2px;
  max-width: 100%;
  max-height: 2px;
  background-color: black;
}
header #bars .bars_active:nth-child(1) {
  transform: rotate(45deg) translate(3px, 7px);
}
header #bars .bars_active:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -3px);
}

#TaskContainer .task span {
  width: auto;
  white-space: nowrap;
  overflow: auto;
}

#calendar {
  max-width: 30px;
  margin-left: auto;
}

input[type=checkbox]:checked {
  background-color: #555;
}

input[type=checkbox] {
  border: 2px solid #ccc;
  border-radius: 20px;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  appearance: none;
}

.is-dragging {
  scale: 0.95;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background-color: rgb(203, 203, 203) !important;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

form {
  flex-wrap: nowrap;
}
form button {
  background-color: unset;
  border: 0px;
  padding: 4px;
}
form input[type=text] {
  width: 100% !important;
  border: 0 !important;
  outline: none;
  overflow: auto;
  padding-right: 5px;
}
form svg[viewBox="0 0 36 36"] {
  margin-left: auto !important;
  transform: translateX(-5px);
}

.fs-1 {
  font-size: 0.5rem !important;
}

.rw-1 {
  width: 0.5rem !important;
}

.gap-1 {
  gap: 0.5rem !important;
}

.fs-2 {
  font-size: 1rem !important;
}

.rw-2 {
  width: 1rem !important;
}

.gap-2 {
  gap: 1rem !important;
}

.fs-3 {
  font-size: 1.5rem !important;
}

.rw-3 {
  width: 1.5rem !important;
}

.gap-3 {
  gap: 1.5rem !important;
}

.fs-4 {
  font-size: 2rem !important;
}

.rw-4 {
  width: 2rem !important;
}

.gap-4 {
  gap: 2rem !important;
}

.fs-5 {
  font-size: 2.5rem !important;
}

.rw-5 {
  width: 2.5rem !important;
}

.gap-5 {
  gap: 2.5rem !important;
}

.fs-6 {
  font-size: 3rem !important;
}

.rw-6 {
  width: 3rem !important;
}

.gap-6 {
  gap: 3rem !important;
}

.fs-7 {
  font-size: 3.5rem !important;
}

.rw-7 {
  width: 3.5rem !important;
}

.gap-7 {
  gap: 3.5rem !important;
}

.fs-8 {
  font-size: 4rem !important;
}

.rw-8 {
  width: 4rem !important;
}

.gap-8 {
  gap: 4rem !important;
}

.fs-9 {
  font-size: 4.5rem !important;
}

.rw-9 {
  width: 4.5rem !important;
}

.gap-9 {
  gap: 4.5rem !important;
}

.fs-10 {
  font-size: 5rem !important;
}

.rw-10 {
  width: 5rem !important;
}

.gap-10 {
  gap: 5rem !important;
}

.rounded-1 {
  border-radius: 0.6rem !important;
}

.rounded-2 {
  border-radius: 0.9rem !important;
}

.rounded-3 {
  border-radius: 1.2rem !important;
}

.rounded-4 {
  border-radius: 0.9rem !important;
}

.rounded-5 {
  border-radius: 1.8rem !important;
}

.rounded-6 {
  border-radius: 2.1rem !important;
}

.o-0 {
  opacity: 0% !important;
}

.o-100 {
  opacity: 100% !important;
}

@keyframes loading {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.transition-end {
  animation: transition-end 1s 0s ease-in;
}

@keyframes transition-end {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.transition-start {
  animation: transition-start 2s 0s ease-in-out;
}

@keyframes transition-start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100% !important;
  }
}
@keyframes loadingText {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}
@keyframes Extends {
  from {
    width: 0;
  }
}
@keyframes pointsShake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: unset;
  }
}
.glass-light {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.glass-strong {
  filter: blur(100%);
  background-color: rgba(202, 202, 202, 0.5) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-clear {
  filter: blur(100%);
  background-color: rgb(240, 240, 240) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-coffe {
  background-color: rgba(242, 217, 165, 0.2);
}

/*# sourceMappingURL=style.css.map */
