@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#load {
  width: 20em;
  height: fit-content;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#load span center {
  text-rendering: optimizeLegibility;
  letter-spacing: 3px;
  font-family: "Lora", serif;
}
#load img {
  width: 15em !important;
}
#load #LoadingText {
  padding: 0;
  animation: loadingText 1.5s 0s ease-in-out infinite;
}
#load #LoadingText span {
  text-rendering: optimizeLegibility;
  margin-left: 30%;
  animation: Extends 2s steps(30);
  overflow: hidden;
  text-shadow: 0 1px 1px #bfbfbf, 1px 4px 10px #999999;
  font-family: "Roboto Slab", serif;
  display: flex;
  width: 12ch;
  letter-spacing: 0px;
  padding: 0;
  font-style: italic;
}
#load #LoadingText span p {
  font-weight: 800;
  animation: pointsShake 1.5s infinite;
  letter-spacing: 3px;
}
#load #LoadingText span :nth-child(1) {
  margin-left: 5px;
  animation-delay: 0s;
}
#load #LoadingText span :nth-child(2) {
  animation-delay: 0.2s;
}
#load #LoadingText span :nth-child(3) {
  animation-delay: 0.4s;
}
#load .loading {
  width: 5em;
  height: 5em;
  transform: translate(-10px, 100px);
  border: 2px solid gray;
  border-radius: 50px;
  padding: 0;
}
#load .loading::before {
  position: absolute;
  content: "";
  border-top: 3px solid #007bff;
  margin-left: -2px;
  margin-top: -1.5px;
  border-radius: 50%;
  width: 5rem;
  height: 5em;
  animation: loading 2s cubic-bezier(0.2, 0.2, 0, 0.1) infinite;
}

header {
  height: 70px;
  background-color: #67c7c3;
  /**
  Menu lateral izquierdo
   */
}
header #bars {
  /**
  Cuando se clicke sobre el #bars se activara esta animación
   */
}
header #bars span {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: black;
}
header #bars .bars_active:nth-child(1) {
  transform: rotate(45deg) translate(3px, 7px);
}
header #bars .bars_active:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -3px);
}

#TaskContainer {
  margin-bottom: 45px;
}
#TaskContainer .is-dragging {
  scale: 0.95;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background-color: rgba(234, 234, 234, 0.6) !important;
}
#TaskContainer :hover > .checkbox-wrapper-12 input {
  display: block !important;
}
#TaskContainer :hover {
  background-color: rgb(240, 240, 240) !important;
}
#TaskContainer .task, #TaskContainer .task * {
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#TaskContainer .task {
  border-radius: 0.8rem;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.1);
}
#TaskContainer .task #calendar {
  max-width: 30px;
  min-width: 30px;
}
#TaskContainer .task span {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  text-rendering: optimizeLegibility;
}
#TaskContainer .task span:focus-visible {
  outline: none;
  border: unset;
}
#TaskContainer .task .checkbox-wrapper-12 {
  position: relative;
  width: 24px !important;
}
#TaskContainer .task .checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}
#TaskContainer .task .checkbox-wrapper-12 * {
  box-sizing: border-box;
}
#TaskContainer .task .checkbox-wrapper-12 input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}
#TaskContainer .task .checkbox-wrapper-12 input[type=checkbox]:focus {
  outline: 0;
}
#TaskContainer .task .checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: 88px;
  left: 88px;
}
#TaskContainer .task .checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}
#TaskContainer .task .checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
#TaskContainer .task .checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}
#TaskContainer .task .checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}
#TaskContainer .task .checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}
#TaskContainer .task .checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

html {
  height: 100vh;
}

body {
  height: fit-content;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}
footer form {
  border-radius: 0.8rem;
  transition: all 0.5s;
  width: 90%;
  max-height: 45px;
  flex-wrap: nowrap;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.1);
}
footer form button {
  background-color: unset;
  border: 0;
  padding: 4px;
}
footer form input[type=text] {
  width: 100% !important;
  border: 0 !important;
  outline: none;
  overflow: auto;
  padding-right: 5px;
}
footer form svg[viewBox="0 0 36 36"] {
  margin-left: auto !important;
  transform: translateX(-5px);
}

.fs-1 {
  font-size: 0.5rem !important;
}

.rw-1 {
  width: 0.5rem !important;
}

.gap-1 {
  gap: 0.5rem !important;
}

.fs-2 {
  font-size: 1rem !important;
}

.rw-2 {
  width: 1rem !important;
}

.gap-2 {
  gap: 1rem !important;
}

.fs-3 {
  font-size: 1.5rem !important;
}

.rw-3 {
  width: 1.5rem !important;
}

.gap-3 {
  gap: 1.5rem !important;
}

.fs-4 {
  font-size: 2rem !important;
}

.rw-4 {
  width: 2rem !important;
}

.gap-4 {
  gap: 2rem !important;
}

.fs-5 {
  font-size: 2.5rem !important;
}

.rw-5 {
  width: 2.5rem !important;
}

.gap-5 {
  gap: 2.5rem !important;
}

.fs-6 {
  font-size: 3rem !important;
}

.rw-6 {
  width: 3rem !important;
}

.gap-6 {
  gap: 3rem !important;
}

.fs-7 {
  font-size: 3.5rem !important;
}

.rw-7 {
  width: 3.5rem !important;
}

.gap-7 {
  gap: 3.5rem !important;
}

.fs-8 {
  font-size: 4rem !important;
}

.rw-8 {
  width: 4rem !important;
}

.gap-8 {
  gap: 4rem !important;
}

.fs-9 {
  font-size: 4.5rem !important;
}

.rw-9 {
  width: 4.5rem !important;
}

.gap-9 {
  gap: 4.5rem !important;
}

.fs-10 {
  font-size: 5rem !important;
}

.rw-10 {
  width: 5rem !important;
}

.gap-10 {
  gap: 5rem !important;
}

.rounded-1 {
  border-radius: 0.2rem !important;
}

.rounded-2 {
  border-radius: 0.4rem !important;
}

.rounded-3 {
  border-radius: 0.8rem !important;
}

.rounded-4 {
  border-radius: 1.2rem !important;
}

.rounded-5 {
  border-radius: 1.5rem !important;
}

.rounded-6 {
  border-radius: 1.9rem !important;
}

.o-0 {
  opacity: 0% !important;
}

.o-100 {
  opacity: 100% !important;
}

@keyframes loading {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.transition-end {
  animation: transition-end 1s 0s ease-in;
}

@keyframes transition-end {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.transition-start {
  animation: transition-start 2s 0s ease-in-out;
}

@keyframes transition-start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100% !important;
  }
}
@keyframes loadingText {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}
@keyframes Extends {
  from {
    width: 0;
  }
}
@keyframes pointsShake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: unset;
  }
}
@-moz-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
@-webkit-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
@-o-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
@keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
.form_active {
  box-shadow: 0 0 0 2px rgba(23, 78, 165, 0.3725490196), 0 0 0 5px rgba(59, 131, 246, 0.3725490196);
}

.glass-light {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.glass-strong {
  filter: blur(100%);
  background-color: rgba(202, 202, 202, 0.5) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-clear {
  filter: blur(100%);
  background-color: rgb(250, 249, 248) !important;
}

.bg-coffe {
  background-color: rgba(242, 217, 165, 0.3);
}

.bg-white {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
