@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

#load {
  width: 20em;
  height: fit-content;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#load span center {
  text-rendering: optimizeLegibility;
  letter-spacing: 3px;
  font-family: "Lora", serif;
}
#load img {
  width: 15em !important;
}
#load #LoadingText {
  padding: 0;
  animation: loadingText 1.5s 0s ease-in-out infinite;
}
#load #LoadingText span {
  text-rendering: optimizeLegibility;
  margin-left: 30%;
  animation: Extends 2s steps(30);
  overflow: hidden;
  text-shadow: 0 1px 1px #bfbfbf, 1px 4px 10px #999999;
  font-family: "Roboto Slab", serif;
  display: flex;
  width: 12ch;
  letter-spacing: 0px;
  padding: 0;
  font-style: italic;
}
#load #LoadingText span p {
  font-weight: 800;
  animation: pointsShake 1.5s infinite;
  letter-spacing: 3px;
}
#load #LoadingText span :nth-child(1) {
  margin-left: 5px;
  animation-delay: 0s;
}
#load #LoadingText span :nth-child(2) {
  animation-delay: 0.2s;
}
#load #LoadingText span :nth-child(3) {
  animation-delay: 0.4s;
}
#load .loading {
  width: 5em;
  height: 5em;
  transform: translate(-10px, 100px);
  border: 2px solid gray;
  border-radius: 50px;
  padding: 0;
}
#load .loading::before {
  position: absolute;
  content: "";
  border-top: 3px solid #007bff;
  margin-left: -2px;
  margin-top: -1.5px;
  border-radius: 50%;
  width: 5rem;
  height: 5em;
  animation: loading 2s cubic-bezier(0.2, 0.2, 0, 0.1) infinite;
}

header {
  height: 70px;
  /**
  Menu lateral izquierdo
   */
}
header #bars {
  cursor: pointer;
  /**
  Cuando se clicke sobre el #bars se activara esta animación
   */
}
header #bars span {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: black;
}
header #bars .bars_active:nth-child(1) {
  transform: rotate(45deg) translate(3px, 7px);
}
header #bars .bars_active:nth-child(3) {
  transform: rotate(-45deg) translate(-2px, -3px);
}

section {
  max-width: 100%;
  width: 100%;
  overflow: auto;
  max-height: calc(100vh - 130px);
}
section #TaskContainer {
  align-items: center;
}
section #TaskContainer .is-dragging {
  scale: 0.95;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background-color: rgba(234, 234, 234, 0.6) !important;
}
section #TaskContainer :hover > .checkbox-wrapper-12 input {
  display: block !important;
}
section #TaskContainer :hover {
  background-color: rgb(240, 240, 240) !important;
}
section #TaskContainer [tabindex="0"] {
  background-color: rgb(240, 240, 240) !important;
}
section #TaskContainer .task, section #TaskContainer .task * {
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
section #TaskContainer .task {
  border-radius: 0.8rem;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
section #TaskContainer .task #calendar {
  max-width: 30px;
  min-width: 30px;
}
section #TaskContainer .task div:first-child ~ span {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  text-rendering: optimizeLegibility;
}
section #TaskContainer .task span:focus-visible {
  outline: none;
  border: unset;
}
section #TaskContainer .task .checkbox-wrapper-12 {
  position: relative;
  width: 24px !important;
  display: grid;
}
section #TaskContainer .task .checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}
section #TaskContainer .task .checkbox-wrapper-12 * {
  box-sizing: border-box;
}
section #TaskContainer .task .checkbox-wrapper-12 input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}
section #TaskContainer .task .checkbox-wrapper-12 input[type=checkbox]:focus {
  outline: 0;
}
section #TaskContainer .task .checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: 20%;
  position: relative;
}
section #TaskContainer .task .checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}
section #TaskContainer .task .checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
section #TaskContainer .task .checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}
section #TaskContainer .task .checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}
section #TaskContainer .task .checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}
section #TaskContainer .task .checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

html {
  height: 100vh;
}

body {
  height: fit-content;
}

#centerPanel {
  position: relative;
  background-color: aliceblue;
}
#centerPanel footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 60px;
}
#centerPanel footer form {
  border-radius: 0.8rem;
  transition: all 0.5s;
  width: 90%;
  max-height: 45px;
  flex-wrap: nowrap;
  box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.1);
}
#centerPanel footer form button {
  background-color: unset;
  border: 0;
  padding: 4px;
}
#centerPanel footer form input[type=text] {
  width: 100% !important;
  border: 0 !important;
  outline: none;
  overflow: auto;
  padding-right: 5px;
}
#centerPanel footer form svg[viewBox="0 0 36 36"] {
  margin-left: auto !important;
  transform: translateX(-5px);
}

nav ul {
  padding: 0;
  margin-bottom: 0;
}
nav ul #search {
  width: calc(50% + 100px);
  position: relative;
}
nav ul #search div {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}
nav ul #search div .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem 0 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}
nav ul #search div .input::placeholder {
  color: #9e9ea7;
}
nav ul #search div .input:focus, nav ul #search div input:hover {
  outline: none;
  cursor: text;
  box-shadow: 0 0 0 2px rgba(23, 78, 165, 0.3725490196), 0 0 0 5px rgba(59, 131, 246, 0.3725490196);
  background-color: #fff;
}
nav ul #search div .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
nav ul li {
  max-height: 40px;
  position: relative;
}
nav ul li * {
  cursor: pointer;
}
nav ul li .container-svg {
  max-height: 40px;
}

#contains #menuList {
  max-height: calc(100vh - 86px);
  width: 0;
  position: relative;
  max-width: 200px;
  left: -200px;
  z-index: 1;
  transition: left 0.4s 0s linear;
  overflow: auto;
}
#contains #menuList li {
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  max-width: 200px;
  white-space: nowrap !important;
}
#contains #menuList li span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}
#contains .active {
  left: 0 !important;
  width: fit-content !important;
}
#contains #addList {
  max-height: 50px;
}
#contains #addList div {
  width: 100%;
  height: 100%;
}
#contains #addList div button {
  background-color: unset;
  border: 0;
  padding: 4px;
}
#contains #addList div input[type=text] {
  width: 100% !important;
  border: 0 !important;
  border-radius: 5px;
  outline: none;
  overflow: auto;
  padding-right: 5px;
}

.TaskNote {
  height: 0 !important;
  overflow: hidden;
}

.task[tabindex="0"] .TaskNote {
  position: relative;
  overflow: auto;
  height: fit-content !important;
  min-height: 40px !important;
  filter: opacity(0.5);
}
.task[tabindex="0"] .TaskNote div {
  display: grid;
  grid-template-columns: auto 1fr;
  word-break: break-word;
  gap: 10px;
}
.task[tabindex="0"] .TaskNote div p {
  color: #999999;
}
.task[tabindex="0"] .TaskNote div span {
  grid-auto-rows: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#pointsOptions {
  width: 35px;
  transform: scale(0.7);
  overflow: visible;
  cursor: pointer;
}

#pointsOptions:hover #Circle1 {
  animation: perfilOptionsShake 0.5s 0s both;
}

#pointsOptions:hover #Circle2 {
  animation: perfilOptionsShake 0.5s 0.2s both;
}

#pointsOptions:hover #Circle3 {
  animation: perfilOptionsShake 0.5s 0.4s both;
}

#navMenu:checked ~ #menuContext {
  top: 30px;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: max-content;
  z-index: 10000;
  visibility: visible;
  height: auto !important;
}

#menuContext {
  height: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
}
#menuContext ul {
  display: flex;
}
#menuContext ul .active {
  left: unset !important;
  width: auto !important;
  min-width: unset !important;
  display: flex !important;
}
#menuContext ul #delete {
  display: none;
}
#menuContext ul li {
  padding: 2px 5px 2px 5px;
  max-height: 30px !important;
  font-weight: 300;
  font-family: serif;
}
#menuContext ul li .container-svg {
  transform: translate(-5px, -2px);
  position: relative;
}
#menuContext ul li .container-svg svg {
  transform: unset !important;
  max-height: 30px;
  min-height: 30px;
}
#menuContext ul #selectAll {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
#menuContext ul #selectAll p {
  margin: 0;
}
#menuContext ul #selectAll .checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
#menuContext ul #selectAll .checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
#menuContext ul #selectAll .checkbox .checkmark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
#menuContext ul #selectAll .checkbox input[type=checkbox]:checked + .checkmark {
  background-color: #0078d4;
  border-color: #0078d4;
}
#menuContext ul #selectAll .checkbox input[type=checkbox]:checked + .checkmark:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s ease;
  transform: scale(1);
}
#menuContext ul #selectAll .checkbox .checkmark:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: transparent;
  transform: scale(0);
  transition: transform 0.2s ease;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.calendar {
  max-width: 350px;
}
.calendar .header-days {
  font-family: "Lora", serif;
  margin-bottom: 10px;
}
.calendar .calendar-body .day-cell {
  border: 1px solid black;
  border-radius: 50px;
  width: 35px;
  padding: 5px;
  font-family: "Lora", serif;
  cursor: pointer;
}
.calendar .calendar-body .day-cell-disable {
  color: gray;
  border: unset;
}
.calendar .calendar-body .day-cell-active {
  background-color: rgba(111, 208, 203, 0.5);
}
.calendar .grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 10px;
  text-align: center;
  justify-items: center;
}
.calendar .control {
  cursor: pointer;
}
.calendar .calendar-header span {
  font-size: 1.5rem;
  font-family: "Lora", serif;
}

.fs-1 {
  font-size: 0.5rem !important;
}

.rw-1 {
  width: 0.5rem !important;
}

.gap-1 {
  gap: 0.5rem !important;
}

.fs-2 {
  font-size: 1rem !important;
}

.rw-2 {
  width: 1rem !important;
}

.gap-2 {
  gap: 1rem !important;
}

.fs-3 {
  font-size: 1.5rem !important;
}

.rw-3 {
  width: 1.5rem !important;
}

.gap-3 {
  gap: 1.5rem !important;
}

.fs-4 {
  font-size: 2rem !important;
}

.rw-4 {
  width: 2rem !important;
}

.gap-4 {
  gap: 2rem !important;
}

.fs-5 {
  font-size: 2.5rem !important;
}

.rw-5 {
  width: 2.5rem !important;
}

.gap-5 {
  gap: 2.5rem !important;
}

.fs-6 {
  font-size: 3rem !important;
}

.rw-6 {
  width: 3rem !important;
}

.gap-6 {
  gap: 3rem !important;
}

.fs-7 {
  font-size: 3.5rem !important;
}

.rw-7 {
  width: 3.5rem !important;
}

.gap-7 {
  gap: 3.5rem !important;
}

.fs-8 {
  font-size: 4rem !important;
}

.rw-8 {
  width: 4rem !important;
}

.gap-8 {
  gap: 4rem !important;
}

.fs-9 {
  font-size: 4.5rem !important;
}

.rw-9 {
  width: 4.5rem !important;
}

.gap-9 {
  gap: 4.5rem !important;
}

.fs-10 {
  font-size: 5rem !important;
}

.rw-10 {
  width: 5rem !important;
}

.gap-10 {
  gap: 5rem !important;
}

.rounded-1 {
  border-radius: 0.2rem !important;
}

.rounded-2 {
  border-radius: 0.4rem !important;
}

.rounded-3 {
  border-radius: 0.8rem !important;
}

.rounded-4 {
  border-radius: 1.2rem !important;
}

.rounded-5 {
  border-radius: 1.5rem !important;
}

.rounded-6 {
  border-radius: 1.9rem !important;
}

.o-0 {
  opacity: 0% !important;
}

.o-100 {
  opacity: 100% !important;
}

@keyframes loading {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.transition-end {
  animation: transition-end 1s 0s ease-in;
}

@keyframes transition-end {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.transition-start {
  animation: transition-start 2s 0s ease-in-out;
}

@keyframes transition-start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100% !important;
  }
}
@keyframes loadingText {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}
@keyframes Extends {
  from {
    width: 0;
  }
}
@keyframes pointsShake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: unset;
  }
}
@-moz-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
@-webkit-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
@-o-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
@keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }
  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
.form_active {
  box-shadow: 0 0 0 2px rgba(23, 78, 165, 0.3725490196), 0 0 0 5px rgba(59, 131, 246, 0.3725490196) !important;
}

@keyframes perfilOptionsShake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-45%);
  }
  100% {
    transform: unset;
  }
}
.glass-light {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.glass-strong {
  filter: blur(100%);
  background-color: rgba(202, 202, 202, 0.5) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-clear {
  filter: blur(100%);
  background-color: rgb(250, 249, 248) !important;
}

.bg-coffe {
  background-color: rgba(242, 217, 165, 0.3);
}

.bg-white {
  background-color: white;
}

.primary {
  background-color: rgba(103, 199, 195, 0.7) !important;
  backdrop-filter: blur(10px) !important;
}

.active {
  min-width: 150px;
}

@media (min-width: 768px) {
  #contains {
    padding: 0.5rem !important;
  }
  header #bars {
    display: none !important;
  }
  header #sticky {
    display: none;
  }
  #centerPanel {
    border-radius: 15px !important;
  }
  #menuList {
    transition: none !important;
    left: 0 !important;
    min-width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
