@keyframes loading{
  0%{

  }50%{
     transform: rotate(180deg)
   }
  100%{
    transform: rotate(360deg);
  }
}

.transition-end{
  animation: transition-end 1s 0s ease-in;
}
@keyframes transition-end{
  0%{
    opacity: 100%;
  }100%{
     opacity: 0;
   }
}
.transition-start{
  animation: transition-start 2s 0s ease-in-out;
}
@keyframes transition-start{
  0%{
    opacity: 0;
  }100%{
     opacity: 100%!important;
   }
}

@keyframes loadingText {
  0%{
    transform: scale(1);
    opacity: 0.4;
  }
  50%{
    transform: scale(1.1);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: .4;
  }
}
@keyframes Extends {
  from{width: 0}
}

@keyframes pointsShake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: unset;
  }
}
//---------------------ANIMACION CHECK-----------
@-moz-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }

  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }

  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }

  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: #003cf9;
    box-shadow: 0 -18px 0 -8px #003cf9, 16px -8px 0 -8px #003cf9, 16px 8px 0 -8px #003cf9, 0 18px 0 -8px #003cf9, -16px 8px 0 -8px #003cf9, -16px -8px 0 -8px #003cf9;
  }

  100% {
    background: #003cf9;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
//-------------------------------------------------------------------------
//borde para inputs con 2 tonalidades de azul. Agrega efecto de seleccionado
.form_active{
  box-shadow: 0 0 0 2px #174ea55f, 0 0 0 5px #3b83f65f;
}





@keyframes perfilOptionsShake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-45%);
  }
  100% {
    transform: unset;
  }
}