.active{
  min-width: 150px;
}
@media (min-width: 768px) {
  #contains{
    padding: .5rem!important;
  }
  header {
    #bars {
      display: none !important;
    }

    #sticky {
      display: none;
    }
  }
  #centerPanel {
    border-radius: 15px !important;
  }
  #menuList {
    transition: none !important;
    left: 0 !important;
    min-width: 200px;
  }

}