@media (min-width: 768px) {
    header{
      #bars{
        display: none!important;
      }
      #sticky{
        display: none;
      }
    }
    #menuList{
      transition: none!important;
      left: 0!important;
      min-width: 200px;
    }
}