.glass-light{
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5)!important;
}
.glass-strong{
  filter: blur(100%);
  background-color:rgb(202, 202, 202,0.5)!important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bg-clear{
  filter: blur(100%);
  background-color:rgba(240, 240, 240, 1)!important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bg-coffe{
  background-color: rgba(242, 217, 165, 0.2);
}